body{
    background-color:#d5d5d5;
    font-family:system-ui;
}
.container{
    background-color:#e9e7ea;
    width:1000px;
    max-width:100%;
    margin:auto;
    padding:50px;
    box-shadow:0px 10px 50px #858585;
    display:grid;
    grid-template-columns:35% 60%;
    column-gap:5%;
    row-gap:30px;
}
.avatar img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}
.avatar{
    display:flex;
    justify-content:end;
}
.name {
    padding-left:30px;
    border-left:1px solid #000;
}
.name h1{
    font-weight:300;
    font-size:xxx-large;
    margin:10 0 0px;
}
.name .specialize{
    margin:1;
    font-weight:bold;
    letter-spacing:1px;
}
.name .contact{
    padding:0;
    list-style:none;
}
.name .contact span{
    display: inline-block;
    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    margin-right: 20px;
}
.name .contact li{
    padding: 0px 0;
    transform: translate(-40px);
    background-color: #e9e7ea;
}
.info ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    line-height: 30px;
}
.intro{
    padding-left: 30px;
    border-left: 1px solid #000;
    text-align: justify;
}
h2{
    padding: 0;
    margin: 20PX 0 20px;
}
.exp{
    text-align: right;
}
.exp h2{
    margin: 20px 0 20px;
}
.skills{
    margin-top: 10%;
}
.exp ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 35px;
}
.project{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #000;
}
.project .web{
    color: green;
    padding: 10px 0;
}
.project .location{
    font-weight: 500;
    padding: 10px 0;
}
.project .item{
    position: relative;
}
.project .item::before{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #000;
    content: '';
    border-radius: 50%;
    left: -37px;
}